
.textContainer{
  text-align: center;
  margin-top: 4vh;
}

.textContainer .heading{
  color: #9066E9;
}

.textContainer h2{
  font-weight: 400;
  max-width: 75%;
  margin: 4px auto 0 auto;
  line-height: 1.1
}

.formContainer{
  width: 75%;
  height: auto;
  margin: 6vh auto 10vh auto;
}

.wrapper{
  position: relative;
  transition: 0.5s ease;
}

.formContainer form .heading{
  margin: 20px 0 20px 0;
}

.formContainer form{
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  margin: 0 10px;
  border-radius: 10px;
  transition: 0.1s ease;
  opacity: 0;
  pointer-events: none;
}

.activeForm{
  opacity: 1 !important;
  pointer-events: auto !important;
}

.loginWrapper{
  height: 380px;
}

.regWrapper{
  height: 500px;
}

.formContainer form .inputContainer{
  width: 90%;
}

.formContainer .loginForm .inputContainer{
  margin: 20px 0;
}

.formContainer .regForm .inputContainer{
  margin: 6px 0;
}

.formContainer form .inputContainer label{
  margin-left: 6px;
}

.formContainer form .inputContainer input{
  height: 36px;
  width: 100%;
  padding: 0 12px;
  border-radius: 10px;
  border: none;
  margin-top: 6px;
}

.formContainer form .pwdContainer{
  margin-top: 6px;
}

.formContainer form .pwdContainer input{
  border-radius: 10px 0 0 10px;
  margin-top: 0;
}

.formContainer form .pwdContainer button{
  border: none;
  background: white;
  padding: 0 8px;
  border-radius: 0 10px 10px 0;
}

.formContainer form .actionBtn{
  margin-top: 20px;
}

.formContainer form .linkContainer{
  margin: 12px 0;
  text-align: center;
}

.formContainer form .formLink{
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  max-width: 70%;
  margin: 6px auto;
  line-height: 1.15;
  cursor: pointer;
  transition: all 0.1s ease;
  z-index: 15;
}

.formContainer form .formLink:hover{
  color: #FFCF26;
}

.swipeReminder{
  margin: 4vh auto;
  width: 90%;
}

.swipeReminder .emptyLeft{
  width: 70%;
}

.swipeReminder .swipeReminderConn h2{
  line-height: 1;
}

.swipeReminder .swipeReminderConn img{
  margin-right: 3%;
}

#slide_one .heroText,
#slide_forth .heroText{
  height: 70vh;
  max-width: 90%;
  margin: 0 auto;
}

#slide_one .heroText .upperText,
#slide_forth .heroText .upperText{
  margin: 28px auto 8px auto;
}

#slide_third img{
  width: 60%;
}

.bigHome{
  color: #525252;
  width: 95%;
  margin: 0 auto;
  display: none;
}

.bigHome .wrapper{
  min-height: 80vh;
  position: relative;
}

.bigHome .wrapper .left,
.bigHome .wrapper .right{
  width: 50%;
  margin: 0 32px;
}

.bigHome #loginIntro .left, .bigHome #loginIntro .right{
  margin: 0;
}

.bigHome .wrapper .container{
  width: 90%;
}

.bigHome #loginIntro .container{
  width: 80%;
}

.bigHome #loginIntro .container h5{
  text-align: center;
}

.bigHome #loginIntro .purple{
  margin-left: 20px;
}

.bigHome .wrapper .container h5{
  line-height: 1.1;
  font-weight: 600;
}

.bigHome .wrapper .container .right h1{
  margin: 0 0 24px 24px;
}

.bigHome .wrapper .container .btnContainer{
  margin: 16px 0;
}

.bigHome .purple{
  color: #9066E9;
}

.bigHome .orange{
  font-weight: 500;
}

.bigHome .heading{
  position: absolute;
  top: 6%;
  left: 10%;
}

.bigHome .wrapper .container .desc h1{
  font-size: 36px;
  line-height: 1;
}

.bigHome .wrapper .container .desc .upper{
  margin: 16px 0 8px 0;
}

.bigHome .wrapper .container .right img{
  width: 110%;
}

#calendar-hero{
  width: 80%;
}

#journal-hero{
  width: 80%;
  padding-left: 8%;
}

@media only screen and (min-width: 768px) {

  .bigHome{
    display: block;
  }

  .formContainer form{
    width: 100%;
  }

  .formContainer form .inputContainer input{
    height: 48px;
  }

  .formContainer form .formLink{
    font-size: 20px;
    margin: 12px auto;
  }

}

@media only screen and (min-width: 1080px) {
  .bigHome{
    width: 85%;
  }
  .bigHome .wrapper{
    min-height: 100vh;
  }
}

@media only screen and (min-width: 1200px){
  .bigHome .wrapper{
    min-height: 60vh;
    margin: 12vh 0;
  }
  .bigHome .heading{
    top: 8%;
    left: 8%;
  }
  .bigHome .wrapper .container .right h1{
    margin: 0 0 24px 23%;
  }
  #journal-hero{
    width: 70%;
  }
}

@media only screen and (min-width: 1300px){
  .bigHome{
    width: 80%;
  }
  .bigHome .wrapper{
    min-height: 70vh;
    margin: 12vh 0;
  }
  #calendar-hero {
    width: 60%;
  }
}
